<?xml version="1.0" encoding="utf-8"?>
<plugin>
    <name>Content Promoter</name>
    <slug>content-promoter</slug>
    <version>1.0.0</version>
    <type>Free</type>
    <creationDate>January 2021</creationDate>
    <updateDate>January 28, 2021</updateDate>
    <author>Stergos Zamagias</author>
    <authorEmail>support@feataholic.com</authorEmail>
    <authorUrl>https://www.feataholic.com</authorUrl>
    <copyright>Copyright © 2021 Feataholic All Rights Reserved</copyright>
    <license>http://www.gnu.org/licenses/gpl-3.0.html GNU/GPL</license>
</plugin>